page-basket {
  .Content
  {
    margin-top: 20px;
  }
  .itemRow
  {
    width:100%;
    overflow:hidden;
  }

  .infoButton
  {
    width:27%;
    float:left;
    margin-left: 3px;
    margin-top: 15px;
  }


  .infoButtonDv
  {
    float:left;
    border:1px solid #e1e1e1;
    color:#000;
    padding:4px 0px;
    text-align: center;
    width:35px;
    text-align:center;
    font-weight: bold;
    background-color:#f2f2f2;
  }

  .infoButtonDvRight
  {
    float:left;
    border:1px solid #e1e1e1;
    color:#000;
    padding:4px;
    text-align: center;
    width:25px;
    text-align:center;
    font-weight: bold;
    background-color:#f2f2f2;
  }


  .infoButtonDvLeft
  {
    float:left;
    border:1px solid #e1e1e1;
    color:#000;
    padding:4px;
    text-align: center;
    margin-left:5px;
    width:25px;
    text-align:center;
    font-weight: bold;
    background-color:#f2f2f2;
  }

  .infoButtonDvOver
  {
    float:right;
    border:1px solid #e1e1e1;
    padding:4px;
    padding-left:20px;
    padding-right:20px;
    margin-left:4px;
    color:white;
    background-color:black;
  }

  .qntText
  {
    width: 35px;
    height: 10px;
    background-color:#f2f2f2;
    border: none;
    text-align: center;
  }




  .infoCombo
  {
    text-align:right;
    width:45%;
    float:right;
  }

  .title
  {
    color:#004d6e;
    font-weight:bold;
    font-size:15px;
    margin-top:6px;
  }

  .price
  {
    color:#000;
    font-size:14px;
    margin-top:0px;
  }


  .infoComboT1
  {
    text-align:right;
    width:70%;
    float:left;
    padding-left:40px;
  }

  .infoComboT1 h3
  {
    color:#004d6e;
    font-weight:bold;
    font-size:18px;
  }

  .infoComboT1 p
  {
    color:#419abe;
    font-size:16px;
    margin-top:-5px;
  }

  .infoImage
  {
    width:18%;
    float:right;
    margin: auto;
  }

  .infoImage img
  {
    border:2px solid #d5d6d5;
    width:80%;
    margin:0 auto;
  }

  .infoImageT1
  {
    margin-left:3%;
    width:23%;
    float:left;
  }

  .infoImageT1 img
  {
    border:2px solid #d5d6d5
  }

  .infoCheck
  {
    margin-right:3%;
    width:4%;
    float:right;
    margin-top:15px;
  }

  .footerContent
  {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .footerLeft
  {
    float: left;
    width: 60%;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .footerRight
  {
    float: right;
    width: 40%;
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

}
