<!-- Generated template for the ProductsComponent component -->
<div>
    <div class="products">
        <div class="productsList">
            <div  class="productRowLeft" align="center"  (click)="gotoProductPage(i)" *ngFor="let product of productsArray let i = index" >
                            <img src="{{productsArray[i].FullPath}}" class="mainImage" />
                            <p class="productTitle">{{productsArray[i].title}}</p>
                            <p class="productPrice">{{productsArray[i].high_price}} ש"ח</p>
                            <div class="productButton">צפה בפרטים</div>
            </div>
        </div>
    </div>
</div>
