products {
  .productsList
  {
    overflow: hidden;
    width: 100%;
  }

  .productRowLeft
  {
    width: 33%;
    float: left;
  }

  .productRowRight
  {
    width: 48%;
    float: right;
  }

  .productTitle
  {
    text-align: center;
  }

  .productPrice
  {
    text-align: center;
    direction: rtl;
    margin-top: -10px;
    font-weight: bold;
  }

  .productButton
  {
    background-color: black;
    color: white;
    text-align: center;
    width: 60%;
    padding: 4px;
    margin: auto;
    margin-bottom: 10px;
  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    border-right: 1px solid grey;
    width: 210px;
    text-align: center;
  }

  div.scrollmenu span:hover {
    background-color: #777;
  }
}
