<!--
  Generated template for the TrainingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle [hidden]="true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="mainTitle" (click)="enlargeImage(productArray.image)">
      {{productArray.title}}
      <img [src]="phpHost+productArray.image" *ngIf="productArray.image" style="width:40px; height:40px;">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="ContentClass">

  <!--
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  -->

  <div class="chatContent" id="chatContent" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="padding-bottom: 70px;">

    <div class="chatMessage" id="chatMessage" *ngFor="let message of ChatArray">

      <div class="chatMessageRight">
        <!-- <img *ngIf="message.image" src="{{phpHost+message.image}}" class="imageclass"/> -->
        <img *ngIf="!message.image"  src="images/avatar1.png" class="imageclass"/>
      </div>
      <div [ngClass]="{'chatMessageLeft' : message.is_Admin != 0, 'chatMessageLeftBlue':message.is_Admin == 0}">
        <div [ngClass]="{'chatTitle' : message.is_Admin != 0, 'chatTitleBlue':message.is_Admin == 0}" >
          <div [ngClass]="{'chatTitleLeft' : message.is_Admin != 0, 'chatTitleLeftBlue':message.is_Admin ==  0}" >
            <p>{{message.date}}</p>
          </div>
          <div [ngClass]="{'chatTitleRight' : message.is_Admin != 0, 'chatTitleRightBlue':message.is_Admin == 0}" >
            <p >{{message.username}}</p>
          </div>
        </div>
        <p class="chatMessageLeftP" >{{message.title}}</p>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="footerClass">
  <div class="chatFooterDiv" align="center">
    <div class="chatFooterDivRight">
      <ion-item align="center" class="TextContent">
        <!--<ion-textarea (input)="autoSize()" class="chatInput" id="myInput" rows="1"    autosize placeholder="הוסף הודעה" name="title"  [(ngModel)]="chatText" (keypress)="enterPress($event)"></ion-textarea>-->
        <ion-textarea (input)="autoSize();"  class="chatInput" rows="1"  autosize placeholder="הוסף הודעה" [(ngModel)]="chatText"></ion-textarea>
      </ion-item>
    </div>
    <div class="chatFooterDivLeft" (click)="addChatTitle(0)">
      <img src="images/addchat.png" class="imageclass"/>
    </div>

  </div>

</ion-footer>