go-to-basket-popup {

  .basketButtons
  {
    margin-top: 50px;
  }

}



ion-modal ion-backdrop {
  visibility: visible !important;
  z-index:0;
  background-color: red;
}

ion-modal .modal-wrapper{
  top: 20%;
  width:70%;
  left: 15%;
  height:200px;
  position:absolute;
  background-color: white;
  border-radius:5px;
}

.basketButton
{
  width: 90%;
  text-align: center;
  background-color: black;
}

