<!-- Generated template for the GoToBasketPopupComponent component -->
<div align="center" class="basketButtons">
    <button ion-button class="basketButton" (click)="onSubmit(1)">continue shopping</button>
    <button ion-button class="basketButton" (click)="onSubmit(2)">go to basket</button>
</div>
