<!--<ion-navbar>-->
    <!--&lt;!&ndash;<button ion-button menuToggle>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="menu"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-title class="mainTitle">{{name}}</ion-title>&ndash;&gt;-->
<!--</ion-navbar>-->

<ion-navbar color="white">
    <button ion-button menuToggle [hidden]="false">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="mainTitle">Limor</ion-title>
    <button ion-button menuToggle end (click)="gotoBasket()">
        <ion-icon class="iconHead" name="ios-basket-outline" >
            <ion-badge id="notifications-badge"  color="danger" class="basketBadge" *ngIf="baskets"><span >{{baskets.length}}</span></ion-badge>
        </ion-icon>
    </button>
</ion-navbar>
