header-comp {
  .mainTitle
  {
    text-align: center;
    margin-right: 50px;
  }

  .basketBadge
  {
    position: relative;
    top: -10px;
  }

  .iconHead
  {
    font-size:30px;
  }

  .ToolBarClass
  {
    width:100%;
    overflow:hidden;
  }

  .headLogo1 {
    width:40%;
    margin: 0 auto;
    margin-left: 33%;
  }
}
