<ion-header  >
    <header-comp name="Home Page"></header-comp>
</ion-header>

<ion-content>
    <div *ngFor="let category of categoires" (click)="gotoProductsPage(category.id)" >
        <img src="{{Host}}{{category.image}}" class="mainImage" />
    </div>
    <products [productsArray]="MainPageproducts"></products>
</ion-content>
