<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>{{product.title}}</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">

        <ion-title>
            <div style="width: 100%">
                <ion-title class="mainTitle">Limor</ion-title>
            </div>
        </ion-title>


        <ion-buttons *ngIf="is_Admin == 0" end >
            <button  ion-button icon-only (click)="gotoChatPage()">
                <ion-icon name="md-chatboxes"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content>
    <div align="center" class="imageDiv">
        <img src="{{product.FullPath}}" class="mainImage" />
    </div>

    <div align="center" class="info">
        <p class="title">{{product.title}}</p>
        <p class="description">{{product.description}}</p>
        <h3 class="price" ng-if="product.high_price != 0">price :  &#8362; {{product.high_price}} <s ng-if="product.low_price"> &#8362; {{product.low_price}} </s></h3>
    </div>

    <div class="detailsLine"></div>
        <h5 class="qnt"> Qnt :  </h5>
        <div class="infoButton">
            <div class="infoButtonDvLeft"(click)="changeQuan(0)">-</div>
            <div class="infoButtonDv" >
                <input type="tel" class="qntText" [(ngModel)] = "PrdQuan">
            </div>
            <div class="infoButtonDv" style="padding-left:15px; padding-right:15px; width:55px; text-align:center; background-color:#f2f2f2" (click)="changeQuan(1)">+</div>
        </div>
        <div class="detailsLine"></div>
        <h5 class="qnt"> Add Details :  </h5>
        <textarea class="detailsInfo" rows="4" cols="50" ng-model="product.remarks" style="color:#999"></textarea>

</ion-content>

<ion-footer class="productFooter" (click)="openModal()">
    <span class="productFooterText" >Add to basket >></span>
</ion-footer>
