<!-- Generated template for the GoToBasketPopupComponent component -->
<div align="center" class="basketButtons">
    <p class="question">Are you sure you want to delete this product ?</p>
    <button ion-button class="basketButton" (click)="onSubmit(1)">DELETE</button>
    <button ion-button class="basketButton" (click)="onSubmit(0)">CANCEL</button>
</div>
