page-products {
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    border-right: 1px solid grey;
    width: 210px;
    text-align: center;
  }

  div.scrollmenu span:hover {
    background-color: #777;
  }

  //.mainImage
  //{
  //  width: 130px;
  //  height: 130px;
  //  margin: 0 auto;
  //}


}
